<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/ /DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="tk.mybatis.simple.mapper.UserMapper">

<resultMap type="User" id="userMap">
	<id property="id" column="id"></id>
	<result property="name" column="name"/>
	<result property="age" column="age"/>
	<result property="address" column="address"/>
		
</resultMap>

<select id="query" resultMap="userMap">
	select id,
	       name,
	       age,
	       address
	from userInfo
</select>

<insert id="insert"></insert>

<update id="update"></update>

<delete id="delete"></delete>

</mapper>