<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
 	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
 	"http://mybatis.org/dtd/mybatis-3-config.dtd">
 	
<configuration>
	<settings>
	     <!-- 此设置是将查询出来的数据库字段按驼峰规则进行自动转换 -->
		<!--  <setting name="mapUnderscoreToCamelCase" value="true"/>-->
		<!-- 配置后，后台就会有sql语句的输出 -->
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<!-- 设置别名包 -->
		<package name="tk.mybatis.simple.model"/>
	</typeAliases>
	
	<!-- 配置数据库链接 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
			</transactionManager>
			
			<!-- 设置数据源 -->	
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 与实体类对应映射文件，这里面可以编辑我们需要的sql语句 -->
	<mappers>
		<mapper resource="tk/mybatis/simple/mapper/UserMapper.xml"/>
	</mappers>
</configuration>

 	
 	
 	
 	
 	
 